/***** Lizz Moraal - 22 mei 2020 - Web animatie   ********************************************/

/*********************************************************************************************/
/********************************   SVG styles  **********************************************/
/*********************************************************************************************/

.st0{fill:#FFFF8D;}
.st1{fill:#EFE9DD;}
.st2{fill:#F7022F;}
.st3{fill:#FFEC00;}
.st4{fill:#80D16B;}
.st5{fill:#0C0C0C;}
.st6{fill:#0F0B0C;}
.st7{fill:#EBE5D8;}
.st8{fill:#EDE7DB;}
.st9{fill:#F70021;}
.xx{fill:#72c2f7ad;}
.st10{fill:#0C0C0C;}
.st11{fill:#EABE67;}
.st12{fill:#96AACC;}
.st13{fill:#EEE8DC;}
.st14{fill:#807E78;}
.st15{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st16{font-family:'OpenSans-Semibold';}
.st17{font-size:7px;}
.st18{letter-spacing:11;}
.st19{letter-spacing:14;}
.st20{letter-spacing:12;}
.st21{letter-spacing:15;}
.t0{fill:#004FB5;}
.t1{fill:#0C0C0C;}
.t2{fill:none;stroke:#FFFFFF;stroke-width:4.0387;stroke-miterlimit:10;}
.t3{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
.t4{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.t5{fill:#0E0B14;}
.t6{fill:#FFFFFF;}
.t7{fill:#100F0F;}
.t8{clip-path:url(#SVGID_2_);fill:#006D4E;}
.t9{fill:none;stroke:#006D4E;stroke-miterlimit:10;}
.t10{clip-path:url(#SVGID_4_);fill:#006D4E;}
.t11{fill:none;stroke:#006D4E;stroke-width:3;stroke-miterlimit:10;}
.t12{fill:#006D4E;}
.t13{clip-path:url(#SVGID_6_);fill:#FFFFFF;}
.t14{clip-path:url(#SVGID_8_);fill:#FFFFFF;}
.s0{fill:#FFFF8D;}
.s1{fill:#82817B;}
.s2{fill:#0C0C0C;}
.s3{fill:#FFFFFF;}
.s4{fill:#F80025;}
.s5{fill:#9D0002;}
.s6{fill:#AFB8CA;}
.s7{fill:none;stroke:#413B34;stroke-miterlimit:10;}
.s8{fill:none;stroke:#413B34;stroke-width:3;stroke-miterlimit:10;}
.s9{font-family:'OpenSans-ExtraboldItalic';}
.s10{font-size:24px;}
.s11{letter-spacing:1;}
.s12{font-family:'OpenSans-Bold';}
.s13{font-size:11px;}


/*********************************************************************************************/
/**********************   THINGS THAT ARE ANIMATIE WHEN PAGE START  **************************/
/*********************************************************************************************/

#Blad1, #Blad_3, #Blad_4{
    -webkit-animation: wobble-hor-bottom 3s 1s both infinite;
    animation: wobble-hor-bottom 3s 1s both infinite;
}

#Blad2, #Blad_5{
    -webkit-animation: wobble-hor-bottom 2s 2s both infinite;
    animation: wobble-hor-bottom 2s 2s both infinite;
}

#Lichtstraal{
    display:none;
}

#Typemachine {
    transform: translateY(0);
    animation: zweef 3s 3s ease infinite;
}

#Vis {
    transform: translateX(0px);
    animation: slide 10s 1s ease infinite;
    visibility: visible;
    position:absolute;
}

#Vissenkom {
    transform: translateX(0px);
    animation: slide 10s 1s ease infinite;
}

/*********************************************************************************************/
/**********************   THINGS THAT ARE HIDDEN AT FIRST SIGHT  *****************************/
/*********************************************************************************************/

#Wata{
    animation: opac 3s infinite;
    visibility: hidden;
}

#Gebruik{
    visibility: hidden;
}

#Vis2 {
    visibility: hidden;
    transform: translateX(0px);
    animation: slide2 10s 1s ease infinite;
}

/*********************************************************************************************/
/********************************   ACTIVE  **************************************************/
/*********************************************************************************************/

#Roze_vissenkom:active{animation: 1s circle reverse;}
#Geel:active{animation: 1s circle reverse;}

#Zwart_blad:active {animation: 1s rotate reverse;}
#Groen_vissenk:active {animation: 1s rotate reverse;}

#Oranje_gebouw:active{animation: 1s spiral reverse;}
#Zwart_weg :active{animation: 1s spiral reverse;}
#Oranje_gebouw :active{animation: 1s spiral reverse;}


/*********************************************************************************************/
/********************************   HOVER  ***************************************************/
/*********************************************************************************************/

#Blauw_typem :hover{
    animation: rainbow 5s 0.9s infinite;
}

#Zwart_blad :hover{
    fill:#90e3e5;
}

#Groen_vissenk :hover{
    fill:#00bcd4;
    }

#Roze_vissenkom :hover{
    animation: rainbow 5s 0.9s infinite;
}

#Zwart_weg :hover{
   fill:#227376;
}


/*********************************************************************************************/
/********************************   MEDIA ONLY  **********************************************/
/*********************************************************************************************/

div{display:flex; flex-wrap:wrap; width:100vw;}

svg{width:25vw;}

@media only screen and (max-width: 60em)
{
    svg{width:50vw;}
}

@media only screen and (max-width: 380px)
{
    svg{width:100vw;}
}


/*********************************************************************************************/
/********************************   KEYFRAMES  **********************************************/
/*********************************************************************************************/

@keyframes rijden {
  0% {
    transform: translateY(0px);
  }
100% {
    transform: translateY(-300px);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes zweef {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes circle {
  0% { clip-path: circle(75%); }
  100% { clip-path: circle(0%); }
}

@keyframes opac {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rainbow {
  0% { fill:red; }
  25% { fill:yellow }
  50% { fill:orange }
  75% { fill:blue }
  100% { fill:green; }
}

@keyframes rotate {
  0% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
  25% { clip-path: polygon(87.5% 12.5%, 87.5% 87.5%, 12.5% 87.5%, 12.5% 12.5%); }
  50% { clip-path: polygon(75% 75%, 25% 75%, 25% 25%, 75% 25%); }
  75% { clip-path: polygon(37.5% 62.5%, 37.5% 37.5%, 62.5% 37.5%, 62.5% 62.5%); }
  100% { clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%); }
}

@keyframes spiral {
  0% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 50%, 50% 50%, 25% 50%, 25% 75%, 75% 75%, 75% 25%, 0% 25%); }
  14.25% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25%, 75% 25%, 75% 75%, 50% 75%, 50% 50%, 50% 50%, 25% 50%, 25% 75%, 75% 75%, 75% 25%, 0% 25%); }
  28.5% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25%, 75% 25%, 75% 50%, 50% 50%, 50% 50%, 50% 50%, 25% 50%, 25% 75%, 75% 75%, 75% 25%, 0% 25%); }
  42.75% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25%, 25% 25%, 25% 50%, 25% 50%, 25% 50%, 25% 50%, 25% 50%, 25% 75%, 75% 75%, 75% 25%, 0% 25%); }
  57% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 25% 75%, 75% 75%, 75% 25%, 0% 25%); }
  71.25% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 75% 100%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 75%, 75% 25%, 0% 25%); }
  85.5% { clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 75% 25%, 0% 25%); }
  100% {clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 25%, 0% 25%, 0% 25%, 0% 25%, 0% 25%, 0% 25%, 0% 25%); }
}

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@-webkit-keyframes wobble-hor-bottom2 {
  0%,
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
            transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
            transform: translateY(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
            transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
            transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
            transform: translateY(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom2 {
  0%,
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
            transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
            transform: translateY(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
            transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
            transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
            transform: translateY(-6px) rotate(-1.2deg);
  }
}

